

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.masonry-feed-columns {
  column-count: 1;
  column-gap: 1.25rem; /* Equivalent to gap-5 */
}

@media (min-width: 768px) {
  .masonry-feed-columns {
    column-count: 2;
  }
}

@media (min-width: 1024px) {
  .masonry-feed-columns {
    column-count: 3;
  }
}

.break-inside-avoid {
  break-inside: avoid;
}

